.navBar {
    display: none;
}

.navBar.open {
    display: block;
}

body::before {
    inset: 0;
    content: "";
    position: fixed;
    background-image: url(../media/indexSzonyeg.png);
    background-repeat: repeat;
    /* opacity: 0.6; */
    z-index: -1;
}

div {
    background-color: beige;
    opacity: 0.9;
    width: 300px;
    position: fixed;
    border-radius: 50px;
    z-index: 0;
}

h4 {
    text-align: center;
}

img {
    z-index: 1;
    position: relative;
}

table td:nth-child(2) {
    vertical-align: top;
}