.navBar {
    display: none;
}

.navBar.open {
    display: block;
}

div {
    background-color: beige;
    opacity: 0.9;
    width: 300px;
    position: fixed;
    border-radius: 50px;
    z-index: 0;
}

h4 {
    text-align: center;
}

#index_pic {
    z-index: 1;
    position: fixed;
}

table td {
    vertical-align: top;
}