.navBar {
    display: none;
}

.navBar.open {
    display: block;
}

div {
    background-color: beige;
    opacity: 0.9;
    width: 300px;
    position: fixed;
    border-radius: 50px;
    z-index: 0;
    transition: all 0.3s ease;
}

h4 {
    text-align: center;
}

.index_pic {
    z-index: 1;
    position: fixed;
}

table td {
    vertical-align: top;
}

a {
    color: rgb(29, 138, 29);
}

/* img {
    vertical-align: middle;
} */

.main_szoveg {
    text-align: justify;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
